.footer__title {
    font-family: police_logo_titre;
    font-weight: 400;
    margin-bottom: 1.063rem;
    color: #fff;
    font-size: 1.063rem;
}
footer{
    background-color: gray;
}
.footer__list{
   list-style: none;
    color:white;
}
