.footer__title  {
    font-family:$police_logo_titre;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
    color: white;
    padding: 1rem;
    margin-left: 0;
    
    padding-bottom: 0;
 
}
footer{
    background-color: #353535;


}
.footer__nav ul{
    list-style-type: none;

  
}
.footer__nav a{
    text-decoration: none;
    color:white;
    font-family: $police_texte;
    font-size: 12px;

}
.footer__nav{
    display: flex;
    justify-content: space-between;
}
.footer__list{
    padding-left: 1rem;
 
}
// version mobile //
