.footer__title  {
    font-family:$police_logo_titre;
    font-size: 17px;
 
}
footer{
    background-color: rgb(102, 97, 97);


}
.footer__nav ul{
    list-style-type: none;

  
}
.footer__nav a{
    text-decoration: none;
    color:white;
    font-family: $police_texte;
    font-size: 12px;

}