@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loader {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(252, 252, 252, 0.95);
  position: fixed;
  animation-name: molten-push;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.LoaderSpinner {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 10px solid rgba(153, 226, 208, 0.2);
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.LoaderSpinner:before {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  position: absolute;
  animation-name: spinner;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.LoaderSpinner:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  position: absolute;
  animation-name: spinner;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes molten-push {
  0% {
    opacity: 0.95;
    z-index: 1000;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes molten-pull {
  0% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.fa-heart {
  position: relative;
}

.fa-heart:hover {
  transition: opacity 200ms ease-in-out;
}

.fa-heart:hover::after {
  opacity: 0;
}

.fa-heart:hover::before {
  opacity: 1;
}

.fa-heart::after {
  opacity: 1;
  font-weight: 100;
  align-self: center;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\f004";
}

.fa-heart::before {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms ease-out;
  font-weight: 600;
}

header, main, footer {
  animation-name: molten-pull;
  animation-duration: 5s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #F6F6F6;
  font-family: Roboto;
}

#restaurant {
  background-color: #F6F6F6;
}

.sous_titre {
  position: relative;
  margin-bottom: 0.875rem;
  padding: 0 1.25rem 0.5rem;
  font-size: 1rem;
  color: #696969;
}

img {
  width: 90%;
  height: 60px;
}

.function a {
  text-decoration: none;
  color: black;
}

.section_menu_list_link i {
  color: #666161;
}

.zone_icon {
  padding-right: 15px;
}

.function-content {
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0.313rem 0.438rem rgba(0, 0, 0, 0.15);
  margin: 0 0.813rem 0.938rem;
  border-radius: 0.938rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
}

.sous_titre_2 {
  position: relative;
  margin-bottom: 0.875rem;
  padding: 0 1.25rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  font-family: Roboto;
}

.figure_images {
  margin-left: 0rem;
  margin-right: 0;
}

.section_menu_list_link {
  text-decoration: none;
  position: relative;
  display: flex;
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: #F6F6F6;
  border-radius: 1rem;
  box-shadow: 5px 4px 10px 4px rgba(91, 91, 91, 0.39);
  align-items: center;
}

.section_menu_list_link span {
  position: absolute;
  left: -0.7rem;
  padding: 0.2rem 0.4rem;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 100%;
}

.section_menu_list_link i {
  margin: 0 1rem;
  color: #c2bebe;
}

.section_menu_list_link p {
  margin: 0;
  font-weight: bold;
  font-family: Roboto;
}

.restaurant_list_card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 5px 4px 10px 4px rgba(91, 91, 91, 0.39);
  object-fit: cover;
  margin: 1rem;
  position: relative;
}

.restaurant_list_card p, h4 {
  font-family: Roboto;
}

.restaurant_list_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.new {
  position: absolute;
  background-color: #99E2D0;
  padding: 0.3rem 0.5rem;
  color: #189576;
  top: 0;
  right: 10px;
}

.restaurant_list_card_info {
  margin: 1rem 0 1rem 1rem;
  position: relative;
  padding-bottom: 1rem;
}

.restaurant_list_card_info h3 {
  margin: 0;
  font-weight: bold;
}

.restaurant_list_card_info p {
  margin: 0.3rem 0 0 0;
  font-weight: lighter;
}

.restaurant_list_card_info i {
  position: absolute;
  top: 0;
  right: 10px;
}

.restaurant_list_card a {
  text-decoration: none;
  color: black;
}

.restaurant_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "card-1" "card-2" "card-3" "card-4";
}

#list-card-1 {
  grid-area: card-1;
}

#list-card-2 {
  grid-area: card-2;
}

#list-card-3 {
  grid-area: card-3;
}

#list-card-4 {
  grid-area: card-4;
}

.restaurant_list_card_info {
  margin-top: 3px;
  margin-bottom: 3px;
  color: black;
}

h3::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #99E2D0;
  position: absolute;
  z-index: 20;
  left: 1rem;
  bottom: -1px;
}

.choise {
  display: flex;
  justify-content: space-around;
  margin: auto;
  position: relative;
}

.choix {
  margin-left: 30px;
  animation: slideup 2s forwards;
  opacity: 0;
}

.choix:nth-child(2) {
  animation-delay: 0.25s;
}

.choix {
  background-color: white;
}

.choix {
  display: flex;
  width: 30%;
  margin: 1rem 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #00000066;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  font-size: smaller;
}

.text h2, .text p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: bold;
}

i.fas.fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  height: 70px;
  width: 50px;
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.valide {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  transition-duration: 0.5s;
  align-items: center;
}

.choix:hover .valide {
  margin-right: -1rem;
}

.rotation {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.choix:hover .rotation {
  transform: rotate(0);
}

@media screen and (max-width: 1366px) {
  .choise {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .choix {
    width: 90%;
    background-color: white;
  }
}
/*MEDIUM*/
@media screen and (max-width: 800px) {
  .choise {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .choix {
    width: 90%;
    background-color: white;
  }
}
/*SMALL*/
@media screen and (max-width: 667px) {
  .choise {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  i.fas.fa-arrow-left {
    font-size: x-large;
    position: absolute;
    left: 25px;
  }

  .choix {
    width: 80%;
    background-color: white;
  }
}
@keyframes slideup {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
@media screen and (min-width: 701px) {
  .searchBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .carte {
    display: flex;
    flex-direction: row;
  }

  .carte {
    display: block;
  }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
  .searchBox {
    display: block;
  }

  .function-content {
    position: relative;
    justify-content: space-between;
  }

  .carte {
    display: block;
  }

  .restaurant_list {
    width: 50%;
  }

  #entrées {
    display: block;
  }
}
.searchBox-button {
  border-radius: 8rem;
  color: white;
  background-color: #FF79DA;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 2px #b8b2b2;
}

#bouton {
  display: flex;
  justify-content: center;
  margin: 3rem;
  padding-bottom: 4rem;
}

.btn-primary {
  size: 2rem;
  color: #FF79DA;
  margin-left: 0.5rem;
  text-decoration: none;
}

.logo {
  background-color: #F6F6F6;
}

.img_logo {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  font-family: "shrikhand", sans-serif;
  font-size: 3rem;
}

#acceuil {
  background-color: #EAEAEA;
}

.searchBox {
  background-color: #EAEAEA;
  padding-top: 0rem;
  padding-left: 1rem;
}

.searchBox h2 {
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.searchBox p {
  font-family: Roboto;
  text-align: center;
}

.searchBox-title {
  font-family: Roboto;
  text-align: center;
}

.search-input {
  margin: 0 0 0 1rem;
  border: none;
  background-color: #dfdede;
  align-items: center;
}

.city_search {
  background-color: #dfdede;
  padding-bottom: 0rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border-top: 2px solid #cecece;
}

.photo_de_couverture {
  margin: 0rem;
}

.image {
  width: 100%;
  height: 17.188rem;
  object-fit: cover;
}

.titre_menu {
  font-family: "shrikhand", sans-serif;
  margin-left: 2rem;
  margin-top: 0;
  font-size: 1.75rem;
  font-weight: 400;
}

#photo_de_couverture figcaption {
  position: relative;
  margin-top: -3.688rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  padding: 1.938rem 0 1.25rem;
  background-color: #F6F6F6;
}

#photo_de_couverture i {
  position: absolute;
  padding: 0.3rem 0.5rem;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 1.5rem;
}

.footer__title {
  font-family: "shrikhand", sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  color: white;
  padding: 1rem;
  margin-left: 0;
  padding-bottom: 0;
}

footer {
  background-color: #353535;
}

.footer__nav ul {
  list-style-type: none;
}

.footer__nav a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 12px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  padding-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
