.searchBox-button{

    border-radius: 8rem;
    color: white;
    background-color:$color_secondaire;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(184, 178, 178);
    
    
}
#bouton{
    display: flex;
    justify-content: center;

}