   // the spinner "loader" //

   .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }



  .lds-dual-ring:after {
    content: " ";
    opacity: 0;
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid blueviolet;
    border-color: blueviolet transparent blueviolet transparent;
    animation: lds-dual-ring 3s linear ;
  
  }


  @keyframes lds-dual-ring {
  
    

    0%{
      transform: rotate(0deg);
      opacity: 0.95;
      z-index: 1000;
    }

    10%{
      opacity: 0.9;
    
    }

    20%{
      opacity: 0.8;
    }

    30%{
      opacity:0.7;
    }

    40%{
      opacity: 0.6;
    }

    50%{
      opacity: 0.5;
    }

    60%{
      opacity: 0.4;
    }

    70%{

      opacity: 0.3;
    }

    80%{

      opacity: 0.2;
    }

    90%{
      opacity: 0.1;
    }
    
    100%{
      opacity: 0;
      transform: rotate(360deg);
    }}


  .lds-dual-ring {
    display: inline-block;
  
    position: fixed;
    z-index: 999;
    height: 80px;
    width: 80px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
  }
  .fa-heart {
    position: relative;
}
.fa-heart:hover {
    transition: opacity 200ms ease-in-out;
}

.fa-heart:hover::after {
    opacity: 0;
}
.fa-heart:hover::before {
    opacity: 1;
}
.fa-heart::after {
    opacity: 1;
    font-weight: 100;
    align-self: center;
    transition: opacity 400ms ease-in;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ""
}
.fa-heart::before {
    opacity: 0;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 400ms ease-out;
    font-weight: 600;
}


