// version mobile //

 body {
        margin: 0 auto;
       
        padding: 0;
        background-color: $color_font;
}
.bloc_page{

    font-family: $police_texte;
}
#restaurant{
    background-color: $color_font ;
}

        .sous_titre{
          position: relative;
          margin-bottom: .875rem;
          padding: 0 1.25rem .5rem;
          
            font-size: 1rem;
        
        
          color: $color_gris;
          
        }
     
    

img{
    width: 90%;
    height: 60px;
}

.function a {
    text-decoration: none;
    color: black;


    
}
.section_menu_list_link i {
    color: rgb(102, 97, 97)
    
}

.zone_icon{
    padding-right:15px;
}

.function-content{

    
    align-items:center;
    overflow: hidden;
    box-shadow: 0 .313rem .438rem rgba(0, 0, 0, .15);
    margin: 0 .813rem .938rem;
    border-radius: .938rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;}
    .sous_titre_2{
        position: relative;
        margin-bottom: .875rem;
        padding: 0 1.25rem .5rem;
        font-size: 1rem;
        font-weight: bold;
        padding-top: 2rem;
        font-family: $police_texte;
        
    }

.figure_images{
    margin-left: 0rem;
    margin-right: 0;
}


.section_menu_list_link {
    text-decoration: none;
    position: relative;
    display: flex;
    padding: 1.5rem;
    margin: 1.5rem ;
    background-color: #F6F6F6;
    border-radius: 1rem;
    box-shadow: 5px 4px 10px 4px rgba(91, 91, 91, 0.39);
    align-items: center;
  

}
.section_menu_list_link span {
    position: absolute;
    left: -0.7rem;
    padding: 0.2rem 0.4rem;
    background-color: $color_primaire;
    color: #FFFFFF;
    border-radius: 100%;
  }
  .section_menu_list_link i {
    margin: 0 1rem;
    color: #c2bebe;
  }
  .section_menu_list_link p {
    margin: 0;
    font-weight: bold;
    font-family: $police_texte;
  }

 

.restaurant_list_card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 5px 4px 10px 4px rgba(91, 91, 91, 0.39);
    object-fit: cover;
    margin: 1rem;
    position: relative;
 
    
  }
  
  .restaurant_list_card p, h4{
      font-family: $police_texte;
  }
  .restaurant_list_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  .new {
    position: absolute;
    background-color:  $color_teritiaire;
    padding: 0.3rem 0.5rem;
    color: #189576;
    top: 0;
    right: 10px;
  }
  .restaurant_list_card_info {
    margin: 1rem 0 1rem 1rem;
    position: relative;
    padding-bottom: 1rem;
 
  }
  .restaurant_list_card_info h3 {
    margin: 0;
    font-weight: bold;
  }
  .restaurant_list_card_info p {
    margin: 0.3rem 0 0 0;
    font-weight: lighter;
  }
  .restaurant_list_card_info i {
    position: absolute;
    padding: 0.3rem 0.5rem;
    top: 0;
    right: 10px;
    font-size: 1rem;
  }
  .restaurant_list_card a{
        text-decoration: none;
        color: black;
  }


.restaurant_list  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "card-1" "card-2" "card-3" "card-4";  
}

#list-card-1 {
    grid-area: card-1;
  }
  
  #list-card-2 {
    grid-area: card-2;
  }
  
  #list-card-3 {
    grid-area: card-3;
  }
  
  #list-card-4 {
    grid-area: card-4;
  }

.restaurant_list_card_info{
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
}

h3::after{
  content: "";
width: 50px;
height: 2px;
background: $color_teritiaire;
  position: absolute;
  z-index: 20;
  left: 1rem;
  bottom: -1px;
}
// tansformation icone check //


.choise{
  display: flex;
  justify-content: space-around;
  margin: auto;
  position: relative;
}
.choix{
  margin-left: 30px;
  animation: slideup 2s forwards;
  opacity: 0;
}
.choix:nth-child(2){
  animation-delay: calc(2s/8);
}
.choix{
  background-color: white;
}
.choix{
  display: flex;
  width: 30%;
  margin: 1rem 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #00000066;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  
}
.text{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  font-size: smaller;
}
.text h2,.text p{
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: bold;

}
i.fas.fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  height: 70px;
  width: 50px;
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
}
.valide{
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  transition-duration: 0.5s;
  align-items: center;
}
.choix:hover .valide{
  margin-right: -1rem;
}
.rotation {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.choix:hover .rotation{
  transform: rotate(0);
}
@media screen and (max-width: 1366px) {
  .choise{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .choix{
      width: 90%;
      background-color: white;
  }

}

/*MEDIUM*/
@media screen and (max-width: 800px){
  .choise{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .choix{
      width: 90%;
      background-color: white;
  }

}

/*SMALL*/
@media screen and (max-width: 667px){
  
  .choise{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
 
  i.fas.fa-arrow-left {
      font-size: x-large;
      position: absolute;
      left: 25px;
  }

  .choix{
      width: 80%;
      background-color: white;
  }

}

@keyframes slideup{
  0%{
      transform: translateY(20px);
      opacity: 0%;
  }
  100%{
      transform: translateY(0px);
      opacity: 100%;
  }
}



             // version mobile -- page_acceuil //

.menu{
 display: flex;
 justify-content: space-between;

 
}
.choise{
  display: flex;
}



// VERSION TABLETTE // PAGE_menu //
@media screen and (min-width: 701px)  {

  .searchBox{
    display: flex;
    justify-content: space-around;
    align-items: center;}
.carte{
  display: flex;
  flex-direction: row;

}
.carte{
  display: block;
}
   
}
// version mobile //
@media screen and (min-width: 400px) and (max-width: 700px){
.searchBox{
  display: block;
}
  .function-content{
    position: relative;
  
    justify-content: space-between;
  }
 
  .carte{
    display: block;
  
  }
  .restaurant_list{
    width: 50%;
  }
 #entrées{
   display: block;
 }
}
    

