//  Déclarer toutes les variables nécessaires au projet 

// 3 Couleurs  / 2 Police d'écriture 


 // npm run sass 

 // les couleurs de mon projet
 $color_primaire :#9356DC;
 $color_secondaire :#FF79DA;
 $color_teritiaire: #99E2D0;

 // les polices 
 $police_logo_titre: Shrikhand;
 $police_texte:Roboto;
 

 // git add .  ( permet de sauvegarder tous les fichiers )
 // git commit -m " Avec le nom du commit ( afficher sur github-) " 
 // git push  (  uplodaer le commit ( donc les fichiers / dossier ))