//  Déclarer toutes les variables nécessaires au projet 

// 3 Couleurs  / 2 Police d'écriture 


 // npm run sass 

 // les couleurs de mon projet
 $color_primaire :#9356DC;
 $color_secondaire :#FF79DA;
 $color_teritiaire: #99E2D0;
 $color_font: #F6F6F6;

 // les polices 
 $police_logo_titre:"shrikhand", sans-serif;
 $police_texte:Roboto;
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
 

 // git add .  ( permet de sauvegarder tous les fichiers )
 // git commit -m " Avec le nom du commit ( afficher sur github-) " 
 // git push  (  uplodaer le commit ( donc les fichiers / dossier ))